@model IEnumerable<BusinessLogic.DTOs.CreditDto>
@{
    ViewBag.Title = "CreditHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<div class="row mx-0 justify-content-center visibility3">
    <div class="col mt-5 py-4 jumbotron">
        <h2 class="text-center">Your credit history</h2>
        <hr />
        @if (Model.Count() == 0)
        {
            <p>You haven't taken any credits yet.</p>
        }
        else
        {
            <table class="table table-striped table-bordered w-100 text-center" id="credits">
                <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Percentage rate</th>
                        <th>Credit period</th>
                        <th>Fully repaid</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var credit in Model)
                    {
                        <tr>
                            <th>@credit.CreditAmount</th>
                            <th>@credit.PercentageRate</th>
                            <th>@credit.InstallmentCount  months</th>
                            <th>@(credit.PaidInFull ? "Yes" : "No")</th>
                            <th>
                                <button type="button" class="details btn btn-primary" data-credit-id="@credit.Id" data-fully-repaid="@credit.PaidInFull">
                                    See details
                                </button>
                            </th>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#credits").on("click", ".details", function () {
                var creditId = $(this).attr("data-credit-id");
                var paidString = $(this).attr("data-fully-repaid").toLowerCase();
                var redirect = (paidString == "false");

                if (redirect) {
                    window.location.href = "/credits/installmentspage/" + creditId;
                }
                else {
                    $.ajax({
                        url: "/api/credits/getcreditinfo/" + creditId,
                        method: "GET",
                        success: function (d) {
                            swal.fire({
                                title: "Your credit info",
                                type: "info",
                                html: "Credit amount: <strong>" + d.data.creditAmount + "</strong> PLN with <strong>" + d.data.percentageRate + "</strong>% rate." + "Payment was spread into <strong>" + d.data.installmentCount + "</strong> installments."
                            });
                        },
                        error: function (d) {
                            swal.fire({
                                title: "Error",
                                type: "error",
                                text: d.responseJSON.message
                            });
                        }
                    });
                }

            });
        });
    </script>
}