<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body >
    <nav class="navbar navbar-expand navbar-dark bg-dark visibility sticky-top">
        @Html.ActionLink("BANQ", "Index", "Home", null, new { @class = "nav-link navbar-brand ml-5" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">

        </div>
        @Html.Partial("_LoginPartial")
    </nav>
<div class="container body-content">
    @RenderBody()
    <hr />
        
</div>
<footer class="footer">
    <p class="navbar-toggler">&copy; @DateTime.Now.Year - BANQ</p>
</footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
</body>
</html>
