@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link navbar-brand dropdown-toggle" data-toggle="dropdown" role="button" href="#">Hello @User.Identity.GetUserName()</a>

            <div class="dropdown-menu">
                <a class="dropdown-item" href="@Url.Action("Index", "Manage")">Manage account</a>
                <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
            </div>
        </li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav ">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link navbar-brand active" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link navbar-brand active" })</li>
    </ul>
}
